<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <%for(let usr of usrName){ %>
    <ul style="list-style-type: disc">
      <li><h1>Name: <%= usr %> </h1> </li>
    </ul>
    <% } %>
</body>
</html>